@import "tailwindcss";

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: border-spin 4s linear infinite;
}